<% if @item %>
  <p>Are you sure you want to delete the following item: <em>"<%= @item.description %>"</em>?</p>
  <form action="/<%= @item.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Yes, Delete It!">
    <a href="/<%= @item.id %>">Cancel</a>
  </form>
<% else %>
  <p>Item not found.</p>
<% end %>