<% if @item %>
  <form action="/<%= @item.id %>" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
    <textarea name="content"><%= @item.description %></textarea>
    <input type="checkbox" name="complete" <%= "checked" if @item.complete %>>
    <input type="submit">
  </form>
  <p><a href="/<%= @item.id %>/delete">Delete</a></p>
<% else %>
  <p>Item not found.</p>
<% end %>