<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | by Ryan Collins - Fullstack Developer' %></title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>
<header>
  <h1>Welcome to UdaciTask 2.0!</h1>
  <h2>Manage your todo list through this handy web interface.</h2>
</header>
<form action="/" method="post">
  <label for="item">Item Description:</label>
  <input type="text" id="item" name="item" placeholder="Keep it PG!" />
  <label for="priority">Priority</label>
  <select id="priority" name="priority">
    <option>Low</option>
    <option>Medium</option>
    <option>High</option>
  </select>
  <br>
  <br>
  <label for="due-date">Due Date:</label>
  <input id="due-date" name="due_date" type="datetime-local">
  <button type="submit" value="Add to List"></button>
</form>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small>By <a href="http://ryancollins.io">Ryan Collins</a>.</small></p>
  </footer>
</body>
</html>
